img {
	max-width: 100%;
}

a, a:hover {
	text-decoration: none;
}
.mrg {
	margin: 50px 0;
}

.color-777 {
	color: #777;
}

.color-fff, .color-fff:hover {
	color: #fff;
}

.img-profile-size {
	width: 40px;
	height: 40px;
}

.img-position {
	margin-top: 3px;
	margin-right: 5px;
}

.bropdown-position {
	margin-top: 5px;
	margin-left: 20px;
}

.menu-dropdown-position {
	margin-right: 75px;
}

.menu-message-position {
	margin-right: 35px;
}

.img-position-admin-logo {
	margin-right: 10px;
}

.group ul li {
  width: 30%;
}

.group ul {
  text-align: center;
}

.schedule, .group ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.schedule li, .group li {
  background: #ec971f;
  padding: 16px;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 15px;
  list-style: none;
}

.schedule li {
  text-align: center;
  width: 30%;
  background: #ff0202;
}

.schedule .success {
  background: #389439;
}

