img {
	max-width: 100%;
}

a, a:hover {
	text-decoration: none;
}
.mrg {
	margin: 50px 0;
}

.color-777 {
	color: #777;
}

.color-fff, .color-fff:hover {
	color: #fff;
}

.img-profile-size {
	width: 40px;
	height: 40px;
}

.img-position {
	margin-top: 3px;
	margin-right: 5px;
}

.bropdown-position {
	margin-top: 5px;
	margin-left: 20px;
}

.menu-dropdown-position {
	margin-right: 75px;
}

.menu-message-position {
	margin-right: 35px;
}

.img-position-admin-logo {
	margin-right: 10px;
}

.group .img-size {
  max-height: 110px;
}

.group ul li {
  width: 30%;
  overflow: hidden;
  float: left;
  margin-right: 10px;
  background: rgba(173, 173, 173, 0.79);
  color: #343434;
}

.group ul {
  text-align: center;
}

.schedule{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.schedule li, .group li {
  padding: 16px 7px 11px;
  border-radius: 10px;
  margin-bottom: 15px;
  list-style: none;
}

.schedule li {
  text-align: center;
  width: 30%;
  background: #f24d49;
  color: #fff;
}

.schedule li>div {
  margin-bottom: 4px;
}

.schedule li .theme{
  font-size: 16px;
}

.schedule .success {
  background: #48a446;
}

.schedule-teacher a .glyphicon-pencil {
  color: #ffb63f;
}
.schedule-teacher a .glyphicon-pencil:hover {
  color: #349dfd;
}

/*-----------------------------for reg---------------------*/
.checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.checkbox label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr {
    opacity: .5;
}

#for-lable {
  padding-left: 0px;
}
/*----------------------------------------------------------*/

/*------------edit-profile----------------------------------*/
.button-color, .button-color:hover {
  color: #fff;
}
/*-----------------------------------------------------------*/

.hide123 {
  display: none;
}
/*-------------student-info-------------------------*/
.student-info i {
  color: #000000;
}