<div ng-controller="NewsController">
	<div class="panel panel-default" ng-controller="NewsController">
		<div class="panel-heading">Последние новости:</div>
		<div class="panel-body">
			<div ng-repeat="item in someNews">
				<div class="pull-left">
					<img src="img/admin-logo.png" class="img-rounded img-profile-size img-position-admin-logo" alt="">
				</div>
				<small class="pull-right"><em>{{item.date_added | date: 'yyyy-MM-dd'}}</em></small>
				<br>
				<strong>{{item.title}}</strong>
				<p>{{item.description}}</p>
				<hr>
			</div>
			<ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
		</div>
	</div>	
</div>