<nav ng-controller="StudentMenuController">
	<div class="col-sm-3 col-md-2 affix-sidebar">
		<div class="sidebar-nav">
			<div class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
					  	<span class="sr-only">Toggle navigation</span>
					  	<span class="icon-bar"></span>
					</button>
  					<span class="visible-xs navbar-brand">Sidebar menu</span>
				</div>
				<div class="navbar-collapse collapse sidebar-navbar-collapse">
					<ul class="nav navbar-nav" id="sidenav01">
						<li>
						  	<a href="#/student/{{student}}" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
						  	<h4>Главное меню</h4></a>
						</li>
						<li>
						  	<a href="" data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">
								<i class="fa fa-users" aria-hidden="true"></i>
								<strong>Мои группы</strong><span class="caret pull-right"></span>
						  	</a>
						  <div class="collapse" id="toggleDemo" style="height: 0px;">
							<ul class="nav nav-list">
							  	<li ng-repeat="item in groupsByStudent">
									<a href="#/student/{{student}}/group/{{item.id}}" ng-click="setGroupId(item.id)">
										<i class="fa fa-users" aria-hidden="true"></i> {{item.title}}</a>
								</li>
							</ul>
						  </div>
						</li>
						<li>
						  	<a href="" data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01" class="collapsed">
						  		<i class="fa fa-calendar" aria-hidden="true"></i>
								<strong>Мое расписание</strong><span class="caret pull-right"></span>
						  	</a>
						  <div class="collapse" id="toggleDemo2" style="height: 0px;">
							<ul class="nav nav-list">
							  	<li ng-repeat="item in groupsByStudent">
									<a href="#/student/{{student}}/schedule/{{item.id}}" ng-click="setGroupId(item.id)">
										<i class="fa fa-users" aria-hidden="true"></i> {{item.title}}
									</a>
								</li>
							</ul>
						  </div>
						</li>
						<li>
							<a href="#/student/{{student}}/info">
								<i class="fa fa-info" aria-hidden="true"></i>
								<strong>Моя полезная информация</strong>
							</a>
						</li>
				  	</ul>
  				</div>
			</div>
		</div>
	</div>
</nav>
