<header ng-controller="StudentHeaderController">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand logo" href="#/"><i class="fa fa-cogs" aria-hidden="true"></i></a>
			</div>
			<ul class="nav navbar-nav pull-right">
				<li class="img-position">
					<img class="img-circle img-profile-size" src="{{userImage || 'img/no_image_available_male.png'}}" alt="">
				</li>
				<li class="dropdown menu-dropdown-position">
					<a class="dropdown-toggle" data-toggle="dropdown" href="">{{userName}}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-show="{{role == 1}}"><a href="#/student/{{userId}}/editProfile">Настройки профиля</a></li>
						<li><a ng-show="{{role == 2}}" href="#/teacher/{{userId}}/editProfile">Настройки профиля</a></li>
						<li><a href="#/" ng-click="logOut()">Выход</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>