<div class="modal-header">
	<h3 class="modal-title">Редактирование занятия</h3>
</div>
<div class="modal-body">
	<h3>Дата занятия: {{lesson.date | date: 'longDate'}}</h3>
	<h4>Время занятия: {{lesson.time}}</h4>
	<form>
		<div class="form-group">
			<input type="text" placeholder="No theme" class="form-control" ng-model="lesson.theme" autofocus>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
	<button class="btn btn-success" ng-click="ok()">Ok</button>
</div>