<ng-include src="'app/views/partials/header.template.html'"></ng-include>

<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5>Введите данные для регистрации нового студента</h5>
			</div>
			<div class="panel-body">


				<form novalidate id="FormRegistration" name="FormRegistration" ng-submit="FormRegistration.$valid && dispatchForm()">
				<small class="pull-right"><em>Все поля являются обязательными.</em></small>
				<br>
					<div class="form-group" ng-class="{'has-error' : FormRegistration.$submitted && FormRegistration.firstname.$invalid}">
						<input type="text" class="form-control" required autocomplete="off" name="firstname" placeholder="Имя" ng-model="newUser.firstname">
					</div>
					<div class="form-group" ng-class="{'has-error' : FormRegistration.$submitted && FormRegistration.lastname.$invalid}">
						<input type="text" class="form-control" required autocomplete="off" name="lastname" placeholder="Фамилия" ng-model="newUser.lastname">
					</div>
					<div class="form-group" ng-class="{'has-error' : FormRegistration.$submitted && FormRegistration.email.$invalid}">
						<input type="email" class="form-control" required autocomplete="off" name="email" placeholder="E-mail" ng-model="newUser.email">
					</div>
					<div class="form-group" ng-class="{'has-error' : FormRegistration.$submitted && FormRegistration.login.$invalid}">
						<input type="text" class="form-control" required autocomplete="off"  name="login" placeholder="Логин" ng-model="newUser.login">
					</div>
					<div class="form-group" ng-class="{'has-error' : FormRegistration.$submitted && FormRegistration.password.$invalid}">
						<input type="password" class="form-control" required name="password" placeholder="Пароль" ng-model="newUser.password">
					</div>

						<div class="checkbox">
					        <label id="for-lable" ng-click="testOnTeacherClick()">
			            		<input type="checkbox" value="" autocomplete="off" ng-model="testOnTeacher">
			            		<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
			           			Я сотрудник
			          		</label>
			        	</div>

					<hr ng-if="!testOnTeacher">
					<div ng-if="!testOnTeacher" class="form-group">
						<select class="form-control" required ng-model="newUser.group_id" ng-options="item.id as item.title for item in someGroup">
							<option value="" disabled>-- Выбери группу --</option> 
						</select>
					</div>
				</form>
			</div>
			<div class="panel-footer">
				<button form="FormRegistration" class="btn btn-primary">Зарегистрировать</button>
				<button class="btn btn-danger pull-right"><a href="#/" class="color-fff">Отмена</a></button>
			</div>
		</div>
	</div>
	<div class="col-xs-4"></div>
</div>