<ng-include src="'app/views/partials/header.template.html'"></ng-include>

<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-heading"><h4>Введите данные:</h4></div>
			<div class="panel-body">
				<form novalidate id="FormRegistration" name="FormRegistration" ng-submit="FormRegistration.$valid && dispatchForm()">
				<small class="pull-right"><em>Все поля являются обязательными.</em></small>
				<br>
					<div class="form-group">
						<input type="text" class="form-control" required autocomplete="off" name="firstname" placeholder="Имя" ng-model="newUser.firstname">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" required autocomplete="off" name="lastname" placeholder="Фамилия" ng-model="newUser.lastname">
					</div>
					<div class="form-group">
						<input type="email" class="form-control" required autocomplete="off" name="email" placeholder="E-mail" ng-model="newUser.email">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" required autocomplete="off"  name="login" placeholder="Логин" ng-model="newUser.login">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" required name="password" placeholder="Пароль" ng-model="newUser.password">
					</div>
					<div class="form-group">
						<select class="form-control select2" ng-model="newUser.group">
							<option></option>
								<optgroup ng-repeat="item in someGroup" label="{{item.name}}">
									<option ng-repeat="item in item.val" value="{{item}}">{{item}}</option>
								</optgroup>
						</select>
					</div>
				</form>
			</div>
			<div class="panel-footer">
				<button form="FormRegistration" class="btn btn-primary" ng-click="dispatchForm()">Зарегистрировать</button>
				<button class="btn btn-danger pull-right"><a href="#/" class="color-fff">Отмена</a></button>
			</div>
		</div>

	</div>
	<div class="col-xs-4"></div>
</div>