<ng-include src="'app/views/partials/user.header.template.html'"></ng-include>
<div class="row">
	<div class="col-sm-3">
		<ng-include src="'app/views/partials/student.menu.template.html'"></ng-include>
	</div>
	<div class="col-sm-6">
		<section>
			<h1 class="text-center">Мое расписание</h1>
			<ul class="schedule">
				<li ng-repeat="item in schedule" ng-class="{'success' : controlDate(item.date)=== true}">
					<div>{{item.date | date: 'longDate'}}</div>
					<div>{{item.time}}</div>
					<div>{{item.theme || 'No theme'}}</div>
					<div>Room: {{item.room_id}}</div>
				</li>
			</ul>
			<ul uib-pagination total-items="totalItems" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()"></ul>
		</section>
	</div>
	<div class="col-sm-3">
		<ng-include src="'app/views/partials/news.template.html'"></ng-include>
	</div>
</div>