<ng-include src="'app/views/partials/user.header.template.html'"></ng-include>
<div class="row">
	<div class="col-sm-3">
		<ng-include src="'app/views/partials/student.menu.template.html'"></ng-include>
	</div>
	<div class="col-sm-6">
		<section class="group">
				<h1 class="text-center">{{groupByStudent.title}}</h1>
				<ul>
					<li ng-repeat="student in studentsByGroup" ng-class="{'userId' : controlUser(student.id) === true}">
						<img src="{{student.image || 'img/no_image_available_male.png'}}" class="img-rounded img-size" alt="">
						<div>
							<h4>{{student.firstname}}</h4>
							<h4>{{student.lastname}}</h4>
						</div>
					</li>
				</ul>
		</section>
	</div>
	<div class="col-sm-3">
		<ng-include src="'app/views/partials/news.template.html'"></ng-include>
	</div>
</div>