<ng-include src="'app/views/partials/user.header.template.html'"></ng-include>
<div class="row">
	<div class="col-sm-3">
		<ng-include src="'app/views/partials/teacher.menu.template.html'"></ng-include>
	</div>
	<div class="col-sm-6">
		<section>
			<h2 class="text-center">Полезная информация</h2>
			<br>
			<div class="form-group text-right">
				<button class="btn btn-primary" ng-click="addMaterial()"><i class="glyphicon glyphicon-plus"></i> Добавить материал
				</button>
			</div>
			
			<table class="table table-striped table-hover">
				<thead>
					<th>Название</th>
					<th>Ссылка</th>
					<th></th>
				</thead>
				<tr ng-repeat="item in info track by $index">
					<td><span editable-text="item.title" e-form="editableForm" e-ng-model="item.title" e-name="title">{{item.title}}</span></td>
					<td>
						<button class="btn btn-info btn-xs" ng-click="readModal(item.link)">
							<i class="glyphicon glyphicon-eye-open"></i>
						</button>
					</td>
					<td class="text-right">
						<span ng-show="!editableForm.$visible">
							<button class="btn btn-warning btn-xs" ng-click="editableForm.$show()"><i class="glyphicon glyphicon-pencil"></i></button>
							<button class="btn btn-danger btn-xs" ng-click="deleteMaterial(item.id)"><i class="glyphicon glyphicon-remove"></i></button>
						</span>
						
						<form editable-form name="editableForm" onaftersave="saveMaterial($data, item.id)" shown="inserted == item">
    					<span ng-show="editableForm.$visible">
     						<button type="submit" class="btn btn-primary btn-xs" ng-disabled="editableForm.$waiting"><i class="glyphicon glyphicon-ok"></i></button>
     						<button type="button" class="btn btn-danger btn-xs" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel(); deleteFromArray(item)"><i class="glyphicon glyphicon-minus"></i></button>
							</span>
						</form>
					</td>
				</tr>
			</table>
		</section>
	</div>
	<div class="col-sm-3">
		<ng-include src="'app/views/partials/news.template.html'"></ng-include>
	</div>
</div>