<ng-include src="'app/views/partials/user.header.template.html'"></ng-include>
<div class="row">
	<div class="col-sm-3">
		<ng-include ng-show="{{role == 1}}" src="'app/views/partials/student.menu.template.html'"></ng-include>
		<ng-include ng-show="{{role == 2}}" src="'app/views/partials/teacher.menu.template.html'"></ng-include>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading"><h4>Просмотр данных пользователя: {{user.firstname}} {{user.lastname}}</h4></div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-3">
						<img src="{{user.image || 'img/no-img.png' }}" class="img-rounded" alt="">
						<hr>
						<label class="import-file">
    						<input type="file" onchange="angular.element(this).scope().fileNameChanged(this)">
						</label>
					</div>
					<div class="col-sm-9">
						<table class="table table-hover">
							<tbody>
								<tr>
									<th>
										<span editable-text="user.firstname" onbeforesave="checkFirstName($data)" e-form="changeFirstName"><em>Имя : </em> {{ user.firstname || 'empty' }}</span>
									</th>
									<th>
										<button class="btn btn-warning btn-xs pull-right" ng-click="changeFirstName.$show()" ng-hide="changeFirstName.$visible">
											<i class="glyphicon glyphicon-pencil"></i>
										</button>
									</th>
								</tr>
								<tr>
									<th>
										<span editable-text="user.lastname" onbeforesave="checkLastName($data)" e-form="changeLastName"><em>Фамилия : </em> {{ user.lastname || 'empty' }}</span>
									</th>
									<th>
										<button class="btn btn-warning btn-xs pull-right" ng-click="changeLastName.$show()" ng-hide="changeLastName.$visible">
											<i class="glyphicon glyphicon-pencil"></i>
										</button>
									</th>
								</tr>
								<tr>
									<th>
										<span editable-text="user.email" onbeforesave="checkEmail($data)" e-form="changeEmail"><em>E-mail : </em> {{ user.email || 'empty' }}</span>
									</th>
									<th>
										<button class="btn btn-warning btn-xs pull-right" ng-click="changeEmail.$show()" ng-hide="changeEmail.$visible">
											<i class="glyphicon glyphicon-pencil"></i>
										</button>
									</th>
								</tr>
								<tr>
									<th>
										<span editable-text="user.login" onbeforesave="checkLogin($data)" e-form="changeLogin"><em>Логин : </em> {{ user.login || 'empty' }}</span>
									</th>
									<th>
									</th>
								</tr>
								<tr>
									<th>
										<em>Пароль : </em>
										<span ng-if="!passwordShow">************</span>
										<span ng-if="passwordShow">{{user.password}}</span>

										<div ng-if="editPassword">
											<hr>
											<div class="form-group" ng-class="hasErrorStatus === true ? 'has-error' : ''">
											  	<label for="new">Новый пароль:</label>
											  	<input type="password" autocomplete="off" class="form-control" id="new" ng-model="newPass.new">
											</div>
											<div class="form-group" ng-class="hasErrorStatus === true ? 'has-error' : ''">
											  	<label for="pwd">Повторите пароль:</label>
											  	<input type="password" autocomplete="off" class="form-control" id="pwd" ng-model="newPass.confirm">
											</div>
											<button class="btn btn-primary btn-xs" ng-click="confirmPassword()">Принять</button>
											<button class="btn btn-danger btn-xs pull-right" ng-click="canselEdit()">Отмена</button>
										</div>
									</th>
									<th>
										<button ng-if="!passwordShow" class="btn btn-warning btn-xs pull-right" ng-click="showPassword()">
											<i class="glyphicon glyphicon-eye-open"></i>
										</button>
										<button ng-if="passwordShow" class="btn btn-warning btn-xs pull-right" ng-click="changePassword()">
											<i class="glyphicon glyphicon-pencil"></i>
										</button>
									</th>
								</tr>
								<tr ng-if="testRole">
									<th>
										<button ng-if="!gitShow" class="btn btn-primary btn-xs button-color" editable-text="user.git" onbeforesave="showGit($data)"> + Git</button>
										<span ng-if="gitShow">Git : <em editable-text="user.git" onbeforesave="changeGit($data)"> {{user.git}}</em></span>
									</th>
									<th></th>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="col-sm-3">
		<ng-include src="'app/views/partials/news.template.html'"></ng-include>
	</div>
</div>